aws_region     = "us-east-1"
project_name   = "franquicias-api"
db_name        = "franquicias"
db_username    = "franquicias"
db_password    = "CHANGE_ME_use_a_real_secret"
instance_type  = "t3.micro"
ssh_cidr       = "0.0.0.0/0"
ssh_public_key = "ssh-ed25519 AAAA... tu_clave_publica"
repo_url       = "https://github.com/IngKevin95/BackendFranquicias.git"
repo_branch    = "develop"
admin_username = "admin"
admin_password = "CHANGE_ME_use_a_real_secret"
admin_email    = "admin@example.com"
